/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #eddbc7;
  width: 100%;
  min-height: 100vh;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  background: #c8b6a6;
  height: 10vh;
}
.logo {
  display: flex;
  align-items: center;
}
.logo a {
  color: #000;
  font-size: 18px;
  font-weight: 600;
  margin: 2rem 8rem 2rem 2rem;
}

.headerIcons {
  display: flex;
  align-items: center;
  margin-right: 80px;
}
.headerIcons i {
  margin-right: 2rem;
  cursor: pointer;
}
.headerIcons .account {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerIcons .account img {
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 50%;
}
.mainContainer {
  display: flex;
  height: 90vh;
  justify-content: space-between;
}

/* Side menubar section */
nav {
  background: #c8b6a6;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 85%;
  min-width: 10%;
}
.sideNavbar {
  padding: 1px;
  display: flex;
  flex-direction: column;
}
.sideNavbar span {
  color: #1a120b;
  margin: 1rem 3rem;
  font-size: 12px;
}
.sideNavbar a {
  width: 100%;
  padding: 0.8rem 3rem;
  font-weight: 500;
  font-size: 15px;
  color: #1a120b;
}
.sideNavbar a:hover {
  background: #a4907c;
}
.sideNavbar .active {
  border-left: 2px solid rgb(26, 18, 11);
}

/* Main Body Section */
.containerContent {
  width: 85%;
  padding: 3vh 5vw;
  height: 65vh;
}
.storeContainer {
  height: 100%;
}
.storeHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.storeHeader .title {
  width: 10%;
}
.storeHeader .search {
  position: relative;
  width: 45%;
}
.storeHeader .search input {
  background: #faf8f1;
  width: 100%;
  padding: 10px 20px 10px 60px;
  display: block;
  border-radius: 10px;
}
.storeHeader .search button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 6px 20px;
  z-index: 2;
}

.storeHeader .add {
  width: 30%;
}

.storeHeader .add button {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  background-color: #faf8f1;
}
.storeHeader .add button:hover {
  background-color: #a4907c;
}

.filter {
  padding: 35px 0px;
}

.filter select {
  background: #faf8f1;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  margin-right: 20px;
  padding-left: 10px;
}
.filter select option {
  text-align: center;
  direction: ltr;
}
.storeList,
.employeeList,
.docList {
  height: 100%;
}
.employeeName {
  font-weight: bold;
}
.storeCard,
.employeeCard {
  position: relative;
  background-color: #c8b6a6;
  color: #1a120b;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  height: 17%;
  align-items: center;
  text-align: center;
}

.storeCard,
.employeeCard .picture {
  flex: 1;
  padding: 10px;
}

.storeCard,
.employeeCard .detail {
  text-align: left;
  flex: 12;
  padding: 10px;
}

.storeCard .button {
  flex: 4;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.employeeCard .button {
  flex: 4;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.storeCard .button .tools {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.employeeCard .button .tools {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
.storeCard,
.employeeCard .button .tools div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.employeeCard .button .tools div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
}
.storeCard,
.employeeCard .button .tools div:hover {
  background-color: #a4907c;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
  border: 1px solid #4caf50;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
